
<h3>Games</h3>

<%= link_to new_game_path, class: "btn btn-success btn-sm" do %>
  <i class="glyphicon glyphicon-plus"></i>
  <span>Add Game</span>
<% end %>

<% @games.each do |game| %>
  <div class="book media">
    <%= link_to book_path(game) do %>
      <div class="media-left">
        <img src="<%= game.image_url %>">
      </div>
      <div class="media-body">
        <h4><%= game.title %></h4>
        <p><%= game.author %></p>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "pagination_link" %>

<% if @games.none? %>
  <p>No books found.</p>
<% end %>
