
<h3>Games</h3>

<%= link_to new_game_path, class: "btn btn-success btn-sm" do %>
  <i class="glyphicon glyphicon-plus"></i>
  <span>Add Game</span>
<% end %>

<% @items.each do |item| %>
    <%if item.id %>
  <div class="book media">
    <%= link_to series_path(item) do %>
      <div class="media-left">
        <img src="<%= item.image_url %>">
      </div>
      <div class="media-body">
        <h4><%= item.title %></h4>
        <p><%= item.author %></p>
      </div>
    <% end %>
  </div>
    <% end %>
<% end %>

<%= render "pagination_link" %>

<% if @items.none? %>
  <p>No books found.</p>
<% end %>
